<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Website</title>
    <!-- SEO -->
    <meta name="description" content="Musically is a platfform where you can hear music, be in toauch with live events and also read about new rising stars">
    <meta name="keywords" content="music, liveEvents, bands, star, video">
    <link rel="canonical" href="http://localhost:8080/">
    <!-- magnific-popup css cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <!-- font-awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- custom css link -->
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <!-- header -->
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-music"></i> Musically</a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#artist">artist</a>
            <a href="#gallery">gallery</a>
            <a href="../music/index.html">music</a>
            <a href="#contact">contact</a>
        </nav>

        <div id="menu" class="fas fa-bars"></div>

    </header>
    <!-- end -->

    <!-- home -->
    <section class="home" id="home">

        <div class="content">
            <h3>Listen the <br> new songs</h3>
            <a href="../music/index.html" class="btn">show more</a>
        </div>

    </section>

    <!-- end -->

    <!-- about -->
    <section class="about" id="about">

        <h1 class="heading">about singer</h1>

        <div class="row">

            <div class="content">
                <h3>Hilary Hahn</h3>
                <p>Hilary Hahn (born November 27, 1979) is an American violinist. She has performed throughout the world as a soloist with leading orchestras and conductors and as a recitalist. She is an avid supporter of contemporary classical music, and several composers have written works for her, including concerti by Edgar Meyer and Jennifer Higdon, partitas by Antón García Abril, two serenades for violin and orchestra by Einojuhani Rautavaara, and a violin and piano sonata by Lera Auerbach.</p>
                <ul>
                    <li><i class="fab fa-soundcloud"></i>soundCloud
                        <p>Checkout her new released songs only on SoundCloud.</p>
                    </li>
                    <li><i class="fab fa-spotify"></i>Spotify
                        <p>Enjoy relaxing and powerful classical music in her new album, only on Spotify.</p>
                    </li>
                    <li><i class="fas fa-microphone"></i>live concert
                        <p>You can see all her concerts in her Youtube videos. Check it now!</p>
                    </li>
                </ul>
            </div>

            <div class="image">
                <img src="../images/about.jpg" alt="" th:src="@{images/about.jpg}">
            </div>
        </div>
    </section>
    
    <!-- end -->

    <!-- artist -->
    <section class="artist" id="artist">

        <h1 class="heading">the artists</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="images/artist-1.jpg" alt="">
                    <div class="share">
                        <a href="https://www.facebook.com/Classical.Mussic/" class="fab fa-facebook-f"></a>
                        <a href="https://twitter.com/ClassicalMusic_" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/classicalmusic.daily/" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h5>vocalist</h5>
                    <h3>carolina mirage</h3>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/artist-2.jpg" alt="">
                    <div class="share">
                        <a href="https://www.facebook.com/Classical.Mussic/" class="fab fa-facebook-f"></a>
                        <a href="https://twitter.com/ClassicalMusic_" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/classicalmusic.daily/" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h5>producer</h5>
                    <h3>mark alex</h3>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/artist-3.jpg" alt="">
                    <div class="share">
                        <a href="https://www.facebook.com/Classical.Mussic/" class="fab fa-facebook-f"></a>
                        <a href="https://twitter.com/ClassicalMusic_" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/classicalmusic.daily/" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h5>chitarist</h5>
                    <h3>taylor teyler</h3>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/artist-4.jpg" alt="">
                    <div class="share">
                        <a href="https://www.facebook.com/tiesto" class="fab fa-facebook-f"></a>
                        <a href="https://twitter.com/tiesto" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/tiesto/" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h5>DJ</h5>
                    <h3>tiesto</h3>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/artist-5.jpg" alt="">
                    <div class="share">
                        <a href="https://www.facebook.com/melissa.aldana.3958/" class="fab fa-facebook-f"></a>
                        <a href="https://twitter.com/melissaaldana" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/melissaaldanasax/" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h5>saxophone player</h5>
                    <h3>Melissa Aldana</h3>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/artist-6.jpg" alt="">
                    <div class="share">
                        <a href="https://www.facebook.com/Classical.Mussic/" class="fab fa-facebook-f"></a>
                        <a href="https://twitter.com/ClassicalMusic_" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/classicalmusic.daily/" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h5>vocalist</h5>
                    <h3>Maya Scott</h3>
                </div>
            </div>

        </div>

    </section>
    <!-- end -->

    <!-- gallery -->
    <section class="gallery" id="gallery">

        <h1 class="heading">our gallery</h1>

        <ul class="controls">
            <li class="button active" data-filter="all">all</li>
            <li class="button" data-filter="music">music</li>
            <li class="button" data-filter="party">party</li>
            <li class="button" data-filter="performance">performance</li>
            <li class="button" data-filter="stageshow">stage show</li>
        </ul>

        <div class="box-container">

            <a href="images/gallery-2.jpg" class="image1 music image">
                <img src="images/gallery-2.jpg" alt="">
            </a>

            <a href="images/gallery-4.jpg" class="image2 music image">
                <img src="images/gallery-4.jpg" alt="">
            </a>

            <a href="images/gallery-6.jpg" class="image music">
                <img src="images/gallery-6.jpg" alt="">
            </a>

            <a href="images/gallery-3.jpg" class="image party">
                <img src="images/gallery-3.jpg" alt="">
            </a>

            <a href="images/gallery-5.jpg" class="image party">
                <img src="images/gallery-5.jpg" alt="">
            </a>

            <a href="images/gallery-1.jpg" class="image performance">
                <img src="images/gallery-1.jpg" alt="">
            </a>

            <a href="images/gallery-2.jpg" class="image performance">
                <img src="images/gallery-2.jpg" alt="">
            </a>

            <a href="images/gallery-6.jpg" class="image stageshow">
                <img src="images/gallery-6.jpg" alt="">
            </a>

            <div class="stageshow">
                <video src="../images/lost.mp4" width="350" controls>
            </div>

        </div>

    </section>
    <!-- end -->

    <!-- blog -->
    <section class="blog" id="blog">

        <h1 class="heading">Live events</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="images/blog-1.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Nox Pulso Live Stream</h3>
                    <div class="icons">
                        <a href="#"><i class="fas fa-calendar"></i> 4rd april 2023</a>
                    </div>
                    <p>A live stream with Nox Pulso on the launch of debut EP "Frontiers".</p>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/blog-2.jpg" alt="">
                </div>
                <div class="content">
                    <h3>DJ Sigvaldason Live Stream</h3>
                    <div class="icons">
                        <a href="#"><i class="fas fa-calendar"></i> 16rd april 2023</a>
                    </div>
                    <p>New wave sounds combine with good brazilian funk.</p>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/blog-3.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Rhye and Yaarrohs Live Stream</h3>
                    <div class="icons">
                        <a href="#"><i class="fas fa-calendar"></i> 26rd april 2023</a>
                    </div>
                    <p>A mosaic of emotive piano keys, physical percussion, buzzing analog synths, and expansive vocals, RHYE find humanity in musicality.</p>
                </div>
            </div>

        </div>

    </section>
    <!-- end -->

    <!-- contact -->
    <section class="contact" id="contact">

        <h1 class="heading">contact us</h1>

        <div class="row">

            <div class="image">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2854.5556927334783!2d23.798615115389648!3d44.3190837791042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4752d7a006e30d1b%3A0x84a5887ac48a77c7!2sUniversitatea%20din%20Craiova!5e0!3m2!1sro!2sro!4v1680542402109!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <form action="">

                <div class="inputBox">
                    <input type="text" id="name" placeholder="Your Name">
                    <input type="email" id="mail" placeholder="Your Email">
                </div>

                <div class="inputBox">
                    <input type="number" id="number" placeholder="Your Age">
                    <input type="text" id="subject" placeholder="Subject">
                </div>

                <textarea name="" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
                <a class="btn" id="formButton">send message</a>

            </form>

        </div>

    </section>
    <!-- end -->

    <!-- subscribe -->
    <section class="subscribe">

        <div class="row">
            <div class="content">
                <p>subscribe to the newsletter</p>
            </div>

            <div class="inputBox">
                <input type="email" class="email" id="subscribeEmail" placeholder="Your email">
                <input type="button" value="subscribe" id="subscribe" class="btn">
            </div>

        </div>

    </section>
    <!-- end -->

    <!-- footer -->
    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>
    </section>
    <!-- end -->
    <script id="aioa-adawidget" src="https://www.skynettechnologies.com/accessibility/js/all-in-one-accessibility-js-widget-minify.js?colorcode=#d1202f&token=&position=bottom_right"></script>

    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- magnific popup js cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="script.js"></script>
</body>
</html>